#{extends 'main.html' /}
#{set title:'InputData for myrent' /}



  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  
  
  
<nav class="ui inverted blue menu">
  <a class="ui item" href="/"><i class="home icon"></i>Welcome</a>
  <a class="ui item" href="/LandlordConfig"><i class="user icon"></i>Landlord</a>
   <a class="ui active item" href="/InputData"><i class="pie chart icon"></i>Input data</a>
   <a class="ui item" href="/Report"><i class="newspaper icon"></i>Report</a>
   <a class="ui item" href="/Contact"><i class="call icon"></i>Contact</a>
     
  <a class="ui item" href="/Logout"><i class="sign out icon"></i>Logout</a>
   
 </nav>
 
<section class="ui segment">      
  <form class="ui form" action="/InputDatas" method="POST">
    <h2><em><a>${landlord.firstName} ${landlord.lastName}</a></em></h2> <h3> Please input residence data</h3>
    
    
    
    <div class="ui two column grid">
    <div class="column">
    <div class="ui fluid form segment">
       <div class="ui raised segment">
      
        
        <div class="two fields">
        
               
          <label>Location </label> 
          <input type="text" id="geolocation" name="geolocation" value="53.347298, &nbsp -6.268344" readonly class="input-medium">            
          <div class="ui input">
            
          </div>               
        </div>  
        </div>  
       <div class="column">
            <div class="ui fluid form segment">
              
              <div class="ui labeled input">
                <div class="ui label">
                  Eircode
                </div>   
                <input placeholder ="example: X92 Y433" id="eircode" name="eircode"  type="text" required>
                
             </div>
                </div>
                 </div>
                  
                   </div>
                           
        
            <div class="ui two column grid">
          <div class="column">
		        <div class="ui fluid form segment">
		          
		          <div class="ui labeled input">
		            <div class="ui label">
		              Rent (&euro;)
		            </div>   
                 <input value="1500" id = "rent" name="rent" type="text" size="4" required>
             </div>
		        </div>
		      </div>
		      
		      <div class="column">
            <div class="ui fluid form segment">
              
              <div class="ui labeled input">
                <div class="ui label">
                  Bedrooms:
                </div>   
                <input value="3" id = "numbOfBedrooms" name="numbOfBedrooms"  type="text" size=1 required>
             </div>
            </div>
          </div>
        </div>   
        
        
        
        
          <div class="ui two column grid">
          <div class="column">
		        <div class="ui fluid form segment">
		          
		          <div class="ui labeled input">
		            <div class="ui label">
		              Number Bathrooms
		            </div>   
                 <input value="2" id = "numberBathrooms" name="numberBathrooms" type="text" size="1" required >
             </div>
		        </div>
		      </div>
		      
		      <div class="column">
            <div class="ui fluid form segment">
              
              <div class="ui labeled input">
                <div class="ui label">
                  Area (m <sup>2</sup>):
                </div>   
                <input value="110" id = "area" name="area" type="text" size=1em required >
             </div>
            </div>
          </div>
        </div> 
            
        <div class="ui fluid form segment">
				  <div class="ui selection dropdown">
				   <input name="residenceType" type="hidden">
				    <div class="text">Residence type</div>
				    <i class="dropdown icon"></i>
				    <div class="menu">
				      <div class="item" data-value="flat">Apartment|Flat</div>
				      <div class="item" data-value="studio">Studio</div>
				      <div class="item" data-value="house">House</div>
				    </div>
				  </div> 
        </div>
        
        <div class="ui column grid">
          <div class="column">
           <div class="ui fluid form segment">
        <div class="form-actions">
          <div class="ui blue submit button">Submit Data <i class="add icon"></i></div>
          
           <input type="button" class="ui blue submit button" value="Return to Landlord Page" onClick="history.go(-1);return true;"></input>
          <div class="ui error message"></div>
          
        </div>
        
        </div> 
      </div> 
        
      </div>
      
      </div>  
                
      
            <div class="column">
        <div class="ui raised fluid form segment">
          <div id="map-canvas" class= "ui 4:3 embed " > </div> 
          

					<iframe src="https://finder.eircode.ie/#/" width="100%" height="400">

 					</iframe>

			
          
          
          <script src="@{'/public/javascripts/InputDatamap.js'}" type="text/javascript" charset="utf-8"></script>
        </div>
      </div>
      
    </div>
    
  </form> 
  
  
 
 


</section>


<script src="@{'/public/javascripts/InputData.js'}" type="text/javascript" charset="utf-8"></script>

<style>
#map-canvas { width  : 100%;
        height : 500px;
        border: solid thick #808080;
       margin-top: 1px;} 
</style>

 



