#{extends 'main.html' /}
#{set title:'Contact for MyRent' /}
<nav class="ui inverted blue menu">
  <a class="ui item" href="/"><i class="home icon"></i>Welcome</a>
  
 
  <a class="ui active item" href="/Contact"><i class="call icon"></i>Contact</a>
 
</nav>

<section class="ui segment">      
  <h5>We would very much appreciate if you would provide some feedback.</h5>
	<form action="/messageSMS" method="POST">
    <div class="ui input field">
		  <input placeholder="Your first name" name="FirstName" type="text" required>
    </div>
	  <div class="ui input field">
		  <input placeholder="Your last name" name="Surname" type="text" required>
    </div>
    <div class="ui divider"></div>
	    <div class="ui left icon input">
	      <input placeholder="Your email address" name="emailAdd" type="text" size="30" required>
	      <i class="user icon"></i>
	    </div>
    <div class="ui divider"></div>
		<div class="ui form">
		  <div class="field">
		    <textarea placeholder="Your message" name="messagetxt" required></textarea>
		  </div>
		</div> 
    <div class="ui divider"></div>
     <button type="submit" class="ui blue submit button">Send Message</button>
     	  
     <input type="button" class="ui blue submit button" value="Return Back" onClick="history.go(-1);return true;"></input>
  
  </form>
</section> 
