#{extends 'main.html' /}
#{set title:'Contact for MyRent' /}
<nav class="ui inverted blue menu">
  <a class="ui item" href="/"><i class="home icon"></i>Welcome</a>
  <a class="ui item" href="/Landlords/SignUp"><i class="pointing up icon"></i>Sign Up</a>
  <a class="ui item" href="/Landlords/Login"><i class="sign in icon"></i>Log In</a>
  <a class="ui item" href="/InputData"><i class="pie chart icon"></i>Input data</a>
  <a class="ui item" href="/Report"><i class="newspaper icon"></i>Report</a>
  <a class="ui active item" href="/Contact"><i class="call icon"></i>Contact</a>
  <a class="ui item" href="/Logout"><i class="sign out icon"></i>Log Out</a>
</nav>

<section class="ui segment">      
  <h5>We would very much appreciate if you would provide some feedback.</h5>
	<form action="/messageSMS" method="POST">
    <div class="ui input field">
		  <input placeholder="Your first name" name="FirstName" type="text">
    </div>
	  <div class="ui input field">
		  <input placeholder="Your last name" name="Surname" type="text">
    </div>
    <div class="ui divider"></div>
	    <div class="ui left icon input">
	      <input placeholder="Your email address" name="emailAdd" type="text" size="30">
	      <i class="user icon"></i>
	    </div>
    <div class="ui divider"></div>
		<div class="ui form">
		  <div class="field">
		    <textarea placeholder="Your message" name="messagetxt"></textarea>
		  </div>
		</div> 
    <div class="ui divider"></div>
     <button type="submit" class="ui blue submit button">Send Message</button>	  
  </form>
</section>  