#{extends 'main.html' /} #{set title:'Landlord Configuration to myrent' /}



<nav class="ui inverted blue menu">
  <a class="ui item" href="/"><i class="home icon"></i>Welcome</a>
 
  
  <a class="ui active item" href="/LandlordConfig"><i class="user icon"></i>Landlord</a>
  <a class="ui item" href="/Report"><i class="newspaper icon"></i>Report</a>
  <a class="ui item" href="/Contact"><i class="call icon"></i>Contact</a>
  <a class="ui item" href="/Logout"><i class="sign out icon"></i>Logout</a>
  
</nav>

<section class="ui segment">

<h2><em><a>${landlord.firstName} ${landlord.lastName}</a></em></h2> <h3> Landlord Configuration Page</h3>
 

</section>  


<section class="ui segment">

	<div class="ui three column grid">
		<div class="column">
			<form action="/InputData" method="GET">
				<div class="ui fluid form segment">
					<button type="submit" class="ui fluid   blue submit button">Add
						Residence</button>
				</div>
			</form>

			<form class="ui form segment" action="/LandlordResidenceDelete" method="POST">
				<div class="ui fluid selection dropdown" id="DeleteResidence">
				  <input name="eircode" type="hidden">
					<div class="default text">Select residence to delete</div>
					<i class="dropdown icon"></i>
					<div class="menu">
					
					#{list items: allresidences, as:'res'}
					 <div class="item" data-value="${res.eircode}"> ${res.eircode}</div>
					 
				   #{/list}

				</div>
				</div>
				<div class="ui fluid form segment">
          <button type="submit" class="ui fluid blue submit button">Delete residence</button>
        </div>
        <div class="ui error message"></div>
			</form>

		</div>
		<div class="column">

			<form action="/LandlordEditProfile" method="GET">
				<div class="ui fluid form segment">
					<button type="submit" class="ui fluid  blue submit button">Edit
						Landlord Profile</button>
				</div>
			</form>
			
      <!-- Edit Residence -->
			<form class="ui form segment"  >
				<div class="ui fluid selection dropdown" id="EditResidence"  >
				  <input name="EditResidence" type="hidden">
					<div class="default text">Edit Residence</div>
					<i class="dropdown icon"></i>
					<div class="menu">
									
									
												
					</div>
				</div>
				
        <div class="ui fluid form segment">
          <button type="submit" class="ui fluid blue submit button">Edit residence</button>
        </div>	
        <div class="ui error message"></div>							
			</form>

		</div>
		
	</div>
</section>
<script src="@{'/public/javascripts/landlordConfig.js'}" type="text/javascript" charset="utf-8"></script>
