#{extends 'main.html' /} #{set title:'Login to myrent' /}



<nav class="ui inverted blue menu">
  <a class="ui item" href="/"><i class="home icon"></i>Welcome</a>
  <a class="ui item" href="/Landlords/SignUp"><i class="pointing up icon"></i>Sign Up</a>
  <a class="ui active item" href="/Landlords/Login"><i class="sign in icon"></i>Log In</a>
  <a class="ui item" href="/InputData"><i class="pie chart icon"></i>Input data</a>
  <a class="ui item" href="/Report"><i class="newspaper icon"></i>Report</a>
  <a class="ui item" href="/Contact"><i class="call icon"></i>Contact</a>
  <a class="ui item" href="/Logout"><i class="sign out icon"></i>Logout</a>
  
</nav>

<section class="ui segment">
<img class="ui small centre image" src="/public/images/login.jpg">
  <h3>Log into your account</h3>
  <h5>Your username is the email you registered with</h5>
  <form action="/Landlords/authenticate" method="POST">
  <div class="ui two colum grid">
  <div class="ten wide column">
    
    
      <div class="ui fluid form segment">
        <div class="ui left icon input field">
          <input placeholder="Email" name="email" type="text" required>
          <i class="user icon"></i>
        </div>
        <div class="ui left icon input field">
          <input placeholder="Password" type="password" name="password" required>
          <i class="lock icon"></i>
        </div>
        <button type="submit" class="ui blue submit button">Login</button>
      </div>
    </div>
    </div>
  </form>
</section>  