#{extends 'main.html' /} #{set title:'Login for Landlord myrent' /}



<nav class="ui inverted blue menu">
  <a class="ui item" href="/"><i class="home icon"></i>Welcome</a>
 
  <a class="ui active item" href="/Landlords/Login"><i class="sign in icon"></i>Log In</a>
  <a class="ui item" href="/LandlordConfig"><i class="user icon"></i>Landlord</a>
  <a class="ui item" href="/InputData"><i class="pie chart icon"></i>Input data</a>
  <a class="ui item" href="/Report"><i class="newspaper icon"></i>Report</a>
  <a class="ui item" href="/Contact"><i class="call icon"></i>Contact</a>
  
  
</nav>

<section class="ui segment">
<img class="ui small centre image" src="/public/images/login.jpg">
  <h2>Please Log into your Landlord account</h2>
  <h4>Your username is the email you registered with</h4>
  <form action="/Landlords/authenticate" method="POST">
  <div class="ui two colum grid">
  <div class="ten wide column">
    
    
      <div class="ui fluid form segment">
        <div class="ui left icon input field">
          <input placeholder="Email" name="email" type="text" required>
          <i class="user icon"></i>
        </div>
        <div class="ui left icon input field">
          <input placeholder="Password" type="password" name="password" required>
          <i class="lock icon"></i>
        </div>
        <button type="submit" class="ui blue submit button">Login</button>
      </div>
    </div>
    </div>
    <h3>If you do not have an Account Please Register <a href="/Landlords/Signup"><u>here</u></a> so you can Login</h3>
  </form>
</section>  
